header{
    background-color: #EFEFEF;
    text-align: center;
    font-family: cursive;
    font-size: larger;
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 20px;
    margin: 20px 0;
}

html {
    scroll-behavior: smooth;
  }
  

body{
    font-family: cursive;
}
.nav {
    text-align: center;  
  }
  
.nav a {
    display: inline-block;
    margin: 0 15px;        
  }
  
.profil {
  width: 100%;
  padding: 40px;
}

.texte {
  width: 60%;
  vertical-align: middle;
}

.image {
  text-align: right;
}

.section {
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 20px;
    margin: 20px 0;
    background-color: #f9f9f9;
  }
  
.btn {
  display: inline-block;
  background-color: black;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  text-align: center;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #333;
}

footer{
    text-align: center;
}